<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="poeticDuke"
          class="com.springtutorial.springidol.PoeticJuggler">
        <constructor-arg value="15" />
        <constructor-arg ref="sonnet" />
    </bean>
    <bean id="sonnet" class="com.springtutorial.springidol.Sonnet" />
    <bean id="theStage" class="com.springtutorial.springidol.Stage"
          factory-method="getInstance" />
    <bean id="ticket"
          class="com.springtutorial.springidol.Ticket" scope="prototype" />
    <bean id="auditorium"
          class="com.springtutorial.springidol.Auditorium"
          init-method="turnOnLights"
          destroy-method="turnOffLights"/>
    <bean id="saxophone"
          class="com.springtutorial.springidol.Saxophone" />
    <bean id="guitar"
          class="com.springtutorial.springidol.Guitar" />
    <bean id="piano"
          class="com.springtutorial.springidol.Piano" />
    <bean id="kenny"
          class="com.springtutorial.springidol.Instrumentalist"
            p:song ="Jingle Bells"
            p:instrument-ref = "saxophone"
          />
    <bean id="hank"
          class="com.springtutorial.springidol.OneManBand">
        <property name="instruments">
            <list>
                <ref bean="saxophone" />
                <ref bean="guitar" />
                <ref bean="piano" />
            </list>
        </property>
    </bean>
    <bean id="carl"
          class="com.springtutorial.springidol.Instrumentalist">
        <property name="song" value="#{kenny.song}" />
        <property name="instrument" ref="saxophone" />
    </bean>
</beans>