<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="poeticDuke"
          class="com.springtutorial.springidol.PoeticJuggler">
        <constructor-arg value="15" />
        <constructor-arg ref="sonnet" />
    </bean>
    <bean id="sonnet" class="com.springtutorial.springidol.Sonnet" />
    <bean id="theStage" class="com.springtutorial.springidol.Stage"
          factory-method="getInstance" />
    <bean id="ticket"
          class="com.springtutorial.springidol.Ticket" scope="prototype" />
    <bean id="auditorium"
          class="com.springtutorial.springidol.Auditorium"
          init-method="turnOnLights"
          destroy-method="turnOffLights"/>
    <bean id="saxophone"
          class="com.springtutorial.springidol.Saxophone" />
    <bean id="kenny"
          class="com.springtutorial.springidol.Instrumentalist">
        <property name="song" value="Jingle Bells" />
        <property name="instrument" ref="saxophone" />
    </bean>
</beans>